:root {
    /* Base Color */
    --base-color1: #fec544;
    --base-color2: #a9adb8;
    --base-color3: #fdfeff;
    --base-color4: #232935;

    /* Dark Color */
    --dark-color1: #151b29;
    --dark-color2: #070d1b;
    --dark-color3: #0a101e;
    --dark-color4: #101624;
    --dark-color5: #3f4551;

    /* Base Color (RGB)*/
    --base-color1-rgb: 254, 197, 68; /* #fec544 */
    --base-color2-rgb: 169, 173, 184; /* #a9adb8 */
    --base-color3-rgb: 253, 254, 255; /* #fdfeff */
    --base-color4-rgb: 35, 41, 53; /* #232935 */

    /* Dark Color (RGB)*/
    --dark-color1-rgb: 21, 27, 41; /* #151b29 */
    --dark-color2-rgb: 7, 13, 27; /* #070d1b */
    --dark-color3-rgb: 10, 16, 30; /* #0a101e */
    --dark-color4-rgb: 16, 22, 36; /* #101624 */
    --dark-color5-rgb: 63, 69, 81; /* #3f4551 */
}
