@import url('../../styles/common/variable.css');

#st-alert {
    font-size: 15px;
    font-weight: 300;
}

.st-contact-title {
    font-size: 30px;
    font-weight: 400;
    margin-top: -6px;
    margin-bottom: 22px;
}

.st-form-field {
    width: 100%;
    margin-bottom: 30px;
}

.st-form-field input,
.st-form-field textarea {
    display: block;
    width: 100%;
    color: var(--base-color2);
    padding: 12px 20px;
    border: 1px solid var(--base-color4);
    background-color: var(--dark-color4);
    height: 52px;
    border-radius: 7px;
    transition: all 0.4s ease;
}

.st-form-field input::placeholder,
.st-form-field textarea::placeholder {
    color: var(--dark-color5);
}

.st-form-field input:focus,
.st-form-field textarea:focus {
    border-color: var(--base-color1);
    outline: 0;
}

.st-form-field textarea {
    height: 150px;
}

.st-contact-text {
    margin-top: -6px;
    margin-bottom: 23px;
}

.st-single-contact-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.st-single-contact-info:hover .st-icon-wrap {
    border-color: var(--base-color1);
}

.st-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--dark-color5);
    border-radius: 50%;
    background-color: var(--dark-color2);
    width: 50px;
    height: 50px;
    margin-right: 20px;
    transition: all 0.4s ease;
}

.st-icon-wrap svg {
    scale: 1.1;
}

.st-single-info-details h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -4px;
    margin-bottom: 6px;
}

.st-single-info-details a {
    display: block;
    margin-bottom: -2px;
}

.st-single-info-details a:hover {
    color: var(--base-color1);
}

.st-single-info-details a:last-child {
    margin-bottom: -6px;
}

.st-single-info-details span {
    display: block;
    margin-bottom: -2px;
}

.st-social-info .st-social-text {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 5px;
}

.st-social-link {
    display: flex;
}

.st-social-btn {
    border-radius: 50px;
    background-color: var(--dark-color2);
    border: 0.5px solid var(--dark-color5);
    transition: all 0.4s ease;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.st-social-btn:not(:last-child) {
    margin-right: 20px;
}

.st-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all 0.4s ease;
}

.st-social-icon svg {
    scale: 1.5;
}

.st-icon-name {
    font-weight: 600;
    color: #fdfeff;
    overflow: hidden;
    max-width: 0;
    transition: all 0.5s ease;
}

.st-social-btn:hover .st-icon-name,
.st-social-btn.active .st-icon-name {
    max-width: 140px;
    padding-right: 15px;
}
